button {
  border: none;
  border-radius: var(--BR);
  padding: 12px 24px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  transition: .25s ease;

  &[class="btn-secondary"] {
    background-color: hsl(var(--PM-800));
    color: hsl(var(--PM-0));

    &:hover {
      background-color: hsl(var(--PM-700));
    }
  }

  &[class="btn-primary"] {
    background-color: hsl(var(--PM-0));
    color: hsl(var(--PM-800));

    &:hover {
      filter: brightness(95%);
    }
  }

  &[class="btn-clear"] {
    background-color: hsla(var(--SC-0), 0);

    &:hover {
      background-color: hsla(var(--SC-0), 0.10);
    }
  }
}