:root {
  --PM-50: 240, 12%, 69%;
  --PM-100: 240, 9%, 60%;
  --PM-200: 240, 6%, 47%;
  --PM-300: 240, 6%, 37%;
  --PM-400: 240, 6%, 30%;
  --PM-500: 240, 6%, 25%;
  --PM-600: 240, 7%, 23%;
  --PM-700: 240, 8%, 19%;
  --PM-800: 240, 8%, 15%;
  --PM-900: 240, 13%, 9%;
  --SC-0: 210, 100%, 97%;
  --PM-0: 219, 100%, 61%; // Primary 0
  --SUCCESS: 125, 50%, 47%; // Success
  --FAIL: 0, 69%, 44%; // Success
  --BR: 5px; // Border Radius
  --HEIGHT: calc(100vh - 140px);
}

:root[data-theme="light"] {
  --PM-50: 224, 14%, 37%;
  --PM-100: 227, 12%, 45%;
  --PM-200: 229, 11%, 52%;
  --PM-300: 224, 13%, 58%;
  --PM-400: 222, 13%, 62%;
  --PM-500: 222, 16%, 69%;
  --PM-600: 224, 18%, 76%;
  --PM-700: 222, 28%, 83%;
  --PM-800: 226, 38%, 89%;
  --PM-900: 224, 100%, 96%;
  --SC-0: 240, 13%, 9%;
  --PM-0: 219, 100%, 61%; // Primary 0
  --SUCCESS: 125, 50%, 47%; // Success
  --FAIL: 0, 69%, 44%; // Success
  --BR: 5px; // Border Radius
  --HEIGHT: calc(100vh - 140px);
}
