html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  color: hsl(var(--SC-0));
  background-color: hsl(var(--PM-900));
  font-family: 'Inter', 'Roboto', sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
select {
  display: block;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}